@{
Layout = "_BlankLayout";
ViewData["Title"] = "Login Basic - Pages";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
    <link rel="stylesheet" href="~/css/loader.css" />
}

@section PageScripts {
    <script src="~/js/loader.js"></script>
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Login -->
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-heading fw-bold">UniCloud</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-1">Welcome to UniCloud! 👋</h4>
                    <p class="mb-6">Sign in to access and share study materials with your peers.</p>


                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                    
                    
                    <!-- Form -->
                    <form id="formAuthentication" class="mb-6" asp-action="Login" asp-controller="Auth" method="post">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(false, "", new { @class = "text-danger mb-4" })
                        
                        <div class="mb-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="Email" placeholder="Enter your email" value="@Model?.Email" required autofocus>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="Password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-6">
                            <button class="btn btn-primary d-grid w-100 h-px-44" type="submit">Login</button>
                        </div>
                    </form>
                    <!-- /Form -->

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="/Auth/Register">
                            <span>Create an account</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Login -->
        </div>
    </div>
</div>

<style>

</style>
